# apple itunes 
.DS_Store

# Node modules
node_modules/

# vs-code folder
.vscode/

# dist, tmp folder
/build
/dist
/.tmp

# MapBox API keys
src/js/secret.js

# ignore logs 
logs
*.log
npm-debug.log*
