@charset "utf-8";

/* Declaring variables for dynamic control of scope */
:root {
  /* layout */
  --arr: wrap;
  --obj: flex;
  --place: center;
  --x-axis: 100vw;
  --y-axis: 50rem;
  --z-axis: initial;
  --gutter: var(--fluid-font-1);
  /* color scheme */
  --black: #000000;
  --white: rgb(255, 255, 255);
  --blue: #7EBFFC;
  --reg-blue:#118ADB;
  --dark-grey: #424F5C;
  --light-grey: #aaa;
  --red: #F06449;
  --pink: #EA7086;
  --green: #DAF0CD;
  --orange: #E84D14;
  /* type */
  --fluid-font-1: 1rem;
  --fluid-font-2: 1.2rem;
  --fluid-font-3: 1.44rem;
  --fluid-font-4: 1.728rem;
  --fluid-font-5: 2.074rem;
  --fluid-font-6: 2.488rem;
  --sans: 'Libre Franklin', Arial, sans-serif;
  --serif: 'Noto Serif JP', sans-serif;
  --case: uppercase;
}

html {
  box-sizing: border-box;
}

html, body {
  position: relative;
  white-space: normal;
  background-color: var(--white);
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
body,
td,
th,
p {
  --fluid-font-1: 0.75rem;
  font-family: var(--serif, Georgia);
  font-size: var(--fluid-font-1);
  color: var(--black);
  line-height: 1.5;
}
ul,
li {
  --fluid-font: 0.625rem;
  font-family: var(--serif, Georgia);
  font-size: var(--fluid-font-1);
  color: var(--black);
}
a {
  color: var(--orange);
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--reg-blue);
  text-decoration: none;
}
a img {
  border: none 0px var(--white);
}
header {
  display: flow-root;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif, Georgia);
  margin: 0 0 20px;
}
img {
border-radius: 50px;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
#maincontent {
  background-color: var(--white);
  min-height: 100%;
}
#footer {
  --fluid-font-1: 0.45rem;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--fluid-font-1);
  letter-spacing: 1px;
  padding: 25px;
  text-align: var(--place);
  text-transform: var(--case);
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.centered {
   display:block;
   margin:0 auto;
}
/* ====================== Navigation ====================== */
nav {
  display: flow-root;
  width: 100%;
  height: 80px;
  background: var(--black);
  padding: 30px 20px 40px 10px;
  text-align: var(--place);
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: var(--white);
  font-size: var(--fluid-font-5);
  font-family: var(--sans);
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: var(--case);
  text-align: var(--place);
}

/* ====================== Map ====================== */
#map {
  display: flow-root;
  height: 400px;
  width: 100%;
  background-color: var(--white);
  margin: 0;
  position: relative;
  padding: 0;
}
.inside #map-container {
  display: flow-root;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  clear: both;
}
#map-container {
  border-bottom: 1px solid var(--light-grey);
  border-top: 1px solid var(--black);
}
/* ====================== Restaurant Filtering ====================== */

#display-list {
  display: flow-root;
}
.filter-options {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: var(--reg-blue);
  align-items: var(--place);
  align-content: var(--place);
  display: var(--obj);
  flex-wrap: var(--arr);
  flex-direction: row;
  padding: 30px 40px 20px 5px;
  justify-content: var(--place);
  align-content: var(--place);
  background: var(--red);
  background-color: var(--blue);
  border-bottom: 1px solid var(--light-grey);
  border-top: 1px solid var(--black);
}
.filter-options h2 {
  color: var(--black);
  font-size: var(--fluid-font-3);
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  text-transform: var(--case);
}
.filter-options select {
  --fluid-font-1: 0.45rem;
  background-color: var(--white);
  border: 2px 2px solid var(--reg-blue);
  font-family: var(--serif, Georgia);
  color: var(--black);
  font-size: var(--fluid-font-2);
  font-variant: small-caps;
  height: 45px;
  letter-spacing: 0;
  margin: 10px;
  padding: 10px;
  width: 225px;
}
#filter-container {
  width: var(--y-axis);
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: var(--orange);
  list-style: outside none none;
  margin: 0;
  padding: 60px 20px 20px 20px;
  text-align: var(--place);
  align-content: var(--place);
  display: var(--obj);
  flex-wrap: var(--arr);
  justify-content: var(--place, space-evenly);
}
#restaurants-list li {
  background-color: var(--black);
  border: 1px solid var(--pink);
  font-family: var(--serif, Georgia);
  background-color: var(--white: #ffffff);
  margin: 15px;
  min-height: 21.875rem;
  padding: 1.875rem 1.875rem 1.6rem;
  text-align: var(--place: left);
  width: 270px;
  border-radius: 50px;
}
#restaurants-list .lazy-load {
  background-color: var(--light-grey);
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: auto;
}
#restaurants-list li h1 {
  color: var(--white);
  font-family: var(--sans, Arial);
  font-size: var(--fluid-font-3);
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: var(--case);
}
#restaurants-list p {
  --fluid-font-1: 1.1rem;
  margin: 0;
  font-size: var(--fluid-font-1);
  color: var(--red);
}
#restaurants-list li a {
  --fluid-font: 0.825rem;
  background-color: var(--white);
  color: var(--black);
  border-color: var(--blue);
  display: inline-block;
  font-family: var(--sans, Arial);
  font-size: var(--fluid-font-2);
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: var(--place);
  text-decoration: none;
}

#restaurant-name {
  text-align: var(--place);
}

/* ====================== Media queries ====================== */


 @media screen and ( min-width: 320px ) and ( max-width: 690px ) {
  .filter-options {
    display: inline-grid;
  }
}



